In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from lore_sa.dataset import TabularDataset

In [3]:
dataset = TabularDataset.from_csv('test/resources/adult.csv')
dataset.df.dropna(inplace = True)
dataset.df

2023-07-28 11:21:35,733 root         INFO     test/resources/adult.csv file imported

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
dataset.descriptor

{'numeric': {'age': {'index': 0,
   'min': 17,
   'max': 90,
   'mean': 38.58164675532078,
   'std': 13.640432553581341,
   'median': 37.0,
   'q1': 28.0,
   'q3': 48.0},
  'fnlwgt': {'index': 2,
   'min': 12285,
   'max': 1484705,
   'mean': 189778.36651208502,
   'std': 105549.97769702224,
   'median': 178356.0,
   'q1': 117827.0,
   'q3': 237051.0},
  'education-num': {'index': 4,
   'min': 1,
   'max': 16,
   'mean': 10.0806793403151,
   'std': 2.5727203320673877,
   'median': 10.0,
   'q1': 9.0,
   'q3': 12.0},
  'capital-gain': {'index': 10,
   'min': 0,
   'max': 99999,
   'mean': 1077.6488437087312,
   'std': 7385.292084840338,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'capital-loss': {'index': 11,
   'min': 0,
   'max': 4356,
   'mean': 87.303829734959,
   'std': 402.9602186489998,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'hours-per-week': {'index': 12,
   'min': 1,
   'max': 99,
   'mean': 40.437455852092995,
   'std': 12.347428681731843,
   'median': 40.0,
   'q1': 40.0,
   'q3': 45.0}},
 'categoric': {'workclass': {'index': 1,
   'distinct_values': ['State-gov',
    'Self-emp-not-inc',
    'Private',
    'Federal-gov',
    'Local-gov',
    nan,
    'Self-emp-inc',
    'Without-pay',
    'Never-worked'],
   'count': {'State-gov': 1298,
    'Self-emp-not-inc': 2541,
    'Private': 22696,
    'Federal-gov': 960,
    'Local-gov': 2093,
    nan: 0,
    'Self-emp-inc': 1116,
    'Without-pay': 14,
    'Never-worked': 7}},
  'education': {'index': 3,
   'distinct_values': ['Bachelors',
    'HS-grad',
    '11th',
    'Masters',
    '9th',
    'Some-college',
    'Assoc-acdm',
    'Assoc-voc',
    '7th-8th',
    'Doctorate',
    'Prof-school',
    '5th-6th',
    '10th',
    '1st-4th',
    'Preschool',
    '12th'],
   'count': {'Bachelors': 5355,
    'HS-grad': 10501,
    '11th': 1175,
    'Masters': 1723,
    '9th': 514,
    'Some-college': 7291,
    'Assoc-acdm': 1067,
    'Assoc-voc': 1382,
    '7th-8th': 646,
    'Doctorate': 413,
    'Prof-school': 576,
    '5th-6th': 333,
    '10th': 933,
    '1st-4th': 168,
    'Preschool': 51,
    '12th': 433}},
  'marital-status': {'index': 5,
   'distinct_values': ['Never-married',
    'Married-civ-spouse',
    'Divorced',
    'Married-spouse-absent',
    'Separated',
    'Married-AF-spouse',
    'Widowed'],
   'count': {'Never-married': 10683,
    'Married-civ-spouse': 14976,
    'Divorced': 4443,
    'Married-spouse-absent': 418,
    'Separated': 1025,
    'Married-AF-spouse': 23,
    'Widowed': 993}},
  'occupation': {'index': 6,
   'distinct_values': ['Adm-clerical',
    'Exec-managerial',
    'Handlers-cleaners',
    'Prof-specialty',
    'Other-service',
    'Sales',
    'Craft-repair',
    'Transport-moving',
    'Farming-fishing',
    'Machine-op-inspct',
    'Tech-support',
    nan,
    'Protective-serv',
    'Armed-Forces',
    'Priv-house-serv'],
   'count': {'Adm-clerical': 3770,
    'Exec-managerial': 4066,
    'Handlers-cleaners': 1370,
    'Prof-specialty': 4140,
    'Other-service': 3295,
    'Sales': 3650,
    'Craft-repair': 4099,
    'Transport-moving': 1597,
    'Farming-fishing': 994,
    'Machine-op-inspct': 2002,
    'Tech-support': 928,
    nan: 0,
    'Protective-serv': 649,
    'Armed-Forces': 9,
    'Priv-house-serv': 149}},
  'relationship': {'index': 7,
   'distinct_values': ['Not-in-family',
    'Husband',
    'Wife',
    'Own-child',
    'Unmarried',
    'Other-relative'],
   'count': {'Not-in-family': 8305,
    'Husband': 13193,
    'Wife': 1568,
    'Own-child': 5068,
    'Unmarried': 3446,
    'Other-relative': 981}},
  'race': {'index': 8,
   'distinct_values': ['White',
    'Black',
    'Asian-Pac-Islander',
    'Amer-Indian-Eskimo',
    'Other'],
   'count': {'White': 27816,
    'Black': 3124,
    'Asian-Pac-Islander': 1039,
    'Amer-Indian-Eskimo': 311,
    'Other': 271}},
  'sex': {'index': 9,
   'distinct_values': ['Male', 'Female'],
   'count': {'Male': 21790, 'Female': 10771}},
  'native-country': {'index': 13,
   'distinct_values': ['United-States',
    'Cuba',
    'Jamaica',
    'India',
    nan,
    'Mexico',
    'South',
    'Puerto-Rico',
    'Honduras',
    'England',
    'Canada',
    'Germany',
    'Iran',
    'Philippines',
    'Italy',
    'Poland',
    'Columbia',
    'Cambodia',
    'Thailand',
    'Ecuador',
    'Laos',
    'Taiwan',
    'Haiti',
    'Portugal',
    'Dominican-Republic',
    'El-Salvador',
    'France',
    'Guatemala',
    'China',
    'Japan',
    'Yugoslavia',
    'Peru',
    'Outlying-US(Guam-USVI-etc)',
    'Scotland',
    'Trinadad&Tobago',
    'Greece',
    'Nicaragua',
    'Vietnam',
    'Hong',
    'Ireland',
    'Hungary',
    'Holand-Netherlands'],
   'count': {'United-States': 29170,
    'Cuba': 95,
    'Jamaica': 81,
    'India': 100,
    nan: 0,
    'Mexico': 643,
    'South': 80,
    'Puerto-Rico': 114,
    'Honduras': 13,
    'England': 90,
    'Canada': 121,
    'Germany': 137,
    'Iran': 43,
    'Philippines': 198,
    'Italy': 73,
    'Poland': 60,
    'Columbia': 59,
    'Cambodia': 19,
    'Thailand': 18,
    'Ecuador': 28,
    'Laos': 18,
    'Taiwan': 51,
    'Haiti': 44,
    'Portugal': 37,
    'Dominican-Republic': 70,
    'El-Salvador': 106,
    'France': 29,
    'Guatemala': 64,
    'China': 75,
    'Japan': 62,
    'Yugoslavia': 16,
    'Peru': 31,
    'Outlying-US(Guam-USVI-etc)': 14,
    'Scotland': 12,
    'Trinadad&Tobago': 19,
    'Greece': 29,
    'Nicaragua': 34,
    'Vietnam': 67,
    'Hong': 20,
    'Ireland': 24,
    'Hungary': 13,
    'Holand-Netherlands': 1}},
  'class': {'index': 14,
   'distinct_values': ['<=50K', '>50K'],
   'count': {'<=50K': 24720, '>50K': 7841}}}}

In [5]:
dataset.df.drop(['fnlwgt', 'education-num'], inplace=True, axis=1)
dataset.update_descriptor()
dataset.descriptor

{'numeric': {'age': {'index': 0,
   'min': 17,
   'max': 90,
   'mean': 38.437901995888865,
   'std': 13.134664776855985,
   'median': 37.0,
   'q1': 28.0,
   'q3': 47.0},
  'capital-gain': {'index': 8,
   'min': 0,
   'max': 99999,
   'mean': 1092.0078575691268,
   'std': 7406.346496683503,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'capital-loss': {'index': 9,
   'min': 0,
   'max': 4356,
   'mean': 88.37248856176646,
   'std': 404.29837048637575,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'hours-per-week': {'index': 10,
   'min': 1,
   'max': 99,
   'mean': 40.93123798156621,
   'std': 11.979984229274882,
   'median': 40.0,
   'q1': 40.0,
   'q3': 45.0}},
 'categoric': {'workclass': {'index': 1,
   'distinct_values': ['State-gov',
    'Self-emp-not-inc',
    'Private',
    'Federal-gov',
    'Local-gov',
    'Self-emp-inc',
    'Without-pay'],
   'count': {'State-gov': 1279,
    'Self-emp-not-inc': 2499,
    'Private': 22286,
    'Federal-gov': 943,
    'Local-gov': 2067,
    'Self-emp-inc': 1074,
    'Without-pay': 14}},
  'education': {'index': 2,
   'distinct_values': ['Bachelors',
    'HS-grad',
    '11th',
    'Masters',
    '9th',
    'Some-college',
    'Assoc-acdm',
    '7th-8th',
    'Doctorate',
    'Assoc-voc',
    'Prof-school',
    '5th-6th',
    '10th',
    'Preschool',
    '12th',
    '1st-4th'],
   'count': {'Bachelors': 5044,
    'HS-grad': 9840,
    '11th': 1048,
    'Masters': 1627,
    '9th': 455,
    'Some-college': 6678,
    'Assoc-acdm': 1008,
    '7th-8th': 557,
    'Doctorate': 375,
    'Assoc-voc': 1307,
    'Prof-school': 542,
    '5th-6th': 288,
    '10th': 820,
    'Preschool': 45,
    '12th': 377,
    '1st-4th': 151}},
  'marital-status': {'index': 3,
   'distinct_values': ['Never-married',
    'Married-civ-spouse',
    'Divorced',
    'Married-spouse-absent',
    'Separated',
    'Married-AF-spouse',
    'Widowed'],
   'count': {'Never-married': 9726,
    'Married-civ-spouse': 14065,
    'Divorced': 4214,
    'Married-spouse-absent': 370,
    'Separated': 939,
    'Married-AF-spouse': 21,
    'Widowed': 827}},
  'occupation': {'index': 4,
   'distinct_values': ['Adm-clerical',
    'Exec-managerial',
    'Handlers-cleaners',
    'Prof-specialty',
    'Other-service',
    'Sales',
    'Transport-moving',
    'Farming-fishing',
    'Machine-op-inspct',
    'Tech-support',
    'Craft-repair',
    'Protective-serv',
    'Armed-Forces',
    'Priv-house-serv'],
   'count': {'Adm-clerical': 3721,
    'Exec-managerial': 3992,
    'Handlers-cleaners': 1350,
    'Prof-specialty': 4038,
    'Other-service': 3212,
    'Sales': 3584,
    'Transport-moving': 1572,
    'Farming-fishing': 989,
    'Machine-op-inspct': 1966,
    'Tech-support': 912,
    'Craft-repair': 4030,
    'Protective-serv': 644,
    'Armed-Forces': 9,
    'Priv-house-serv': 143}},
  'relationship': {'index': 5,
   'distinct_values': ['Not-in-family',
    'Husband',
    'Wife',
    'Own-child',
    'Unmarried',
    'Other-relative'],
   'count': {'Not-in-family': 7726,
    'Husband': 12463,
    'Wife': 1406,
    'Own-child': 4466,
    'Unmarried': 3212,
    'Other-relative': 889}},
  'race': {'index': 6,
   'distinct_values': ['White',
    'Black',
    'Asian-Pac-Islander',
    'Amer-Indian-Eskimo',
    'Other'],
   'count': {'White': 25933,
    'Black': 2817,
    'Asian-Pac-Islander': 895,
    'Amer-Indian-Eskimo': 286,
    'Other': 231}},
  'sex': {'index': 7,
   'distinct_values': ['Male', 'Female'],
   'count': {'Male': 20380, 'Female': 9782}},
  'native-country': {'index': 11,
   'distinct_values': ['United-States',
    'Cuba',
    'Jamaica',
    'India',
    'Mexico',
    'Puerto-Rico',
    'Honduras',
    'England',
    'Canada',
    'Germany',
    'Iran',
    'Philippines',
    'Poland',
    'Columbia',
    'Cambodia',
    'Thailand',
    'Ecuador',
    'Laos',
    'Taiwan',
    'Haiti',
    'Portugal',
    'Dominican-Republic',
    'El-Salvador',
    'France',
    'Guatemala',
    'Italy',
    'China',
    'South',
    'Japan',
    'Yugoslavia',
    'Peru',
    'Outlying-US(Guam-USVI-etc)',
    'Scotland',
    'Trinadad&Tobago',
    'Greece',
    'Nicaragua',
    'Vietnam',
    'Hong',
    'Ireland',
    'Hungary',
    'Holand-Netherlands'],
   'count': {'United-States': 27504,
    'Cuba': 92,
    'Jamaica': 80,
    'India': 100,
    'Mexico': 610,
    'Puerto-Rico': 109,
    'Honduras': 12,
    'England': 86,
    'Canada': 107,
    'Germany': 128,
    'Iran': 42,
    'Philippines': 188,
    'Poland': 56,
    'Columbia': 56,
    'Cambodia': 18,
    'Thailand': 17,
    'Ecuador': 27,
    'Laos': 17,
    'Taiwan': 42,
    'Haiti': 42,
    'Portugal': 34,
    'Dominican-Republic': 67,
    'El-Salvador': 100,
    'France': 27,
    'Guatemala': 63,
    'Italy': 68,
    'China': 68,
    'South': 71,
    'Japan': 59,
    'Yugoslavia': 16,
    'Peru': 30,
    'Outlying-US(Guam-USVI-etc)': 14,
    'Scotland': 11,
    'Trinadad&Tobago': 18,
    'Greece': 29,
    'Nicaragua': 33,
    'Vietnam': 64,
    'Hong': 19,
    'Ireland': 24,
    'Hungary': 13,
    'Holand-Netherlands': 1}},
  'class': {'index': 12,
   'distinct_values': ['<=50K', '>50K'],
   'count': {'<=50K': 22654, '>50K': 7508}}}}

In [6]:
from lore_sa.encoder_decoder import OneHotEnc
encoder = OneHotEnc(dataset.descriptor)

encoded = []
for x in dataset.df.iloc:
    
    
    encoded.append(encoder.encode(x.values))

C:\Users\spine\Kode\Princess\LORE_sa\lore_sa\encoder_decoder\one_hot_enc.py:80: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if type is "categoric":

In [7]:
encoder.get_encoded_features()

{0: 'age',
 1: 'workclass=State-gov',
 2: 'workclass=Self-emp-not-inc',
 3: 'workclass=Private',
 4: 'workclass=Federal-gov',
 5: 'workclass=Local-gov',
 6: 'workclass=Self-emp-inc',
 7: 'workclass=Without-pay',
 8: 'education=Bachelors',
 9: 'education=HS-grad',
 10: 'education=11th',
 11: 'education=Masters',
 12: 'education=9th',
 13: 'education=Some-college',
 14: 'education=Assoc-acdm',
 15: 'education=7th-8th',
 16: 'education=Doctorate',
 17: 'education=Assoc-voc',
 18: 'education=Prof-school',
 19: 'education=5th-6th',
 20: 'education=10th',
 21: 'education=Preschool',
 22: 'education=12th',
 23: 'education=1st-4th',
 24: 'marital-status=Never-married',
 25: 'marital-status=Married-civ-spouse',
 26: 'marital-status=Divorced',
 27: 'marital-status=Married-spouse-absent',
 28: 'marital-status=Separated',
 29: 'marital-status=Married-AF-spouse',
 30: 'marital-status=Widowed',
 31: 'occupation=Adm-clerical',
 32: 'occupation=Exec-managerial',
 33: 'occupation=Handlers-cleaners',
 34: 'occupation=Prof-specialty',
 35: 'occupation=Other-service',
 36: 'occupation=Sales',
 37: 'occupation=Transport-moving',
 38: 'occupation=Farming-fishing',
 39: 'occupation=Machine-op-inspct',
 40: 'occupation=Tech-support',
 41: 'occupation=Craft-repair',
 42: 'occupation=Protective-serv',
 43: 'occupation=Armed-Forces',
 44: 'occupation=Priv-house-serv',
 45: 'relationship=Not-in-family',
 46: 'relationship=Husband',
 47: 'relationship=Wife',
 48: 'relationship=Own-child',
 49: 'relationship=Unmarried',
 50: 'relationship=Other-relative',
 51: 'race=White',
 52: 'race=Black',
 53: 'race=Asian-Pac-Islander',
 54: 'race=Amer-Indian-Eskimo',
 55: 'race=Other',
 56: 'sex=Male',
 57: 'sex=Female',
 58: 'capital-gain',
 59: 'capital-loss',
 60: 'hours-per-week',
 61: 'native-country=United-States',
 62: 'native-country=Cuba',
 63: 'native-country=Jamaica',
 64: 'native-country=India',
 65: 'native-country=Mexico',
 66: 'native-country=Puerto-Rico',
 67: 'native-country=Honduras',
 68: 'native-country=England',
 69: 'native-country=Canada',
 70: 'native-country=Germany',
 71: 'native-country=Iran',
 72: 'native-country=Philippines',
 73: 'native-country=Poland',
 74: 'native-country=Columbia',
 75: 'native-country=Cambodia',
 76: 'native-country=Thailand',
 77: 'native-country=Ecuador',
 78: 'native-country=Laos',
 79: 'native-country=Taiwan',
 80: 'native-country=Haiti',
 81: 'native-country=Portugal',
 82: 'native-country=Dominican-Republic',
 83: 'native-country=El-Salvador',
 84: 'native-country=France',
 85: 'native-country=Guatemala',
 86: 'native-country=Italy',
 87: 'native-country=China',
 88: 'native-country=South',
 89: 'native-country=Japan',
 90: 'native-country=Yugoslavia',
 91: 'native-country=Peru',
 92: 'native-country=Outlying-US(Guam-USVI-etc)',
 93: 'native-country=Scotland',
 94: 'native-country=Trinadad&Tobago',
 95: 'native-country=Greece',
 96: 'native-country=Nicaragua',
 97: 'native-country=Vietnam',
 98: 'native-country=Hong',
 99: 'native-country=Ireland',
 100: 'native-country=Hungary',
 101: 'native-country=Holand-Netherlands',
 102: 'class=<=50K',
 103: 'class=>50K'}

In [104]:
encoded_df =  pd.DataFrame(encoded, columns = [encoder.encoded_features[i] for i in range(len(encoded[0]))])
encoded_df

KeyError: 57

In [ ]:
# random generation

x = dataset.df.iloc[0].to_dict()

from lore_sa.neighgen.random import RandomGenerator

gen = RandomGenerator()

gen.generate(x,5, features_domain = {'workclass':list(dataset.df['workclass'].unique())})

In [ ]:
dataset_encoded.size

In [ ]:
dataset.df.size

In [ ]:
encoder = MyTargetEnc()

In [ ]:
#dataset encoded only for the user-specified features
dataset.class_name = "capital-gain"
df_enc = encoder.encode(dataset,['workclass','education','occupation','race','sex'], target = "capital-gain")
df_enc

In [ ]:
print (encoder)

#dataset back in his original format
encoder.decode(dataset)

In [5]:
from lore_sa.rule import Expression
import operator

exp = Expression("test", operator.gt,10)

print(exp)

test > 10

In [ ]:
import operator

operator.ge