In [35]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
from lore_sa.dataset import TabularDataset

In [49]:
dataset = TabularDataset.from_csv('test/resources/adult.csv')
dataset.df.dropna(inplace = True)
dataset.df

2023-07-25 11:56:02,527 root         INFO     test/resources/adult.csv file imported

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [50]:
dataset.df.drop(['fnlwgt', 'education-num'], inplace=True, axis=1)
dataset.update_descriptor()
dataset.descriptor

{'numeric': {'age': {'index': 0,
   'min': 17,
   'max': 90,
   'mean': 38.437901995888865,
   'std': 13.134664776856338,
   'median': 37.0,
   'q1': 28.0,
   'q3': 47.0},
  'capital-gain': {'index': 8,
   'min': 0,
   'max': 99999,
   'mean': 1092.0078575691268,
   'std': 7406.346496681988,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'capital-loss': {'index': 9,
   'min': 0,
   'max': 4356,
   'mean': 88.37248856176646,
   'std': 404.2983704862744,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'hours-per-week': {'index': 10,
   'min': 1,
   'max': 99,
   'mean': 40.93123798156621,
   'std': 11.979984229273281,
   'median': 40.0,
   'q1': 40.0,
   'q3': 45.0}},
 'categoric': {'workclass': {'index': 1,
   'distinct_values': ['State-gov',
    'Self-emp-not-inc',
    'Private',
    'Federal-gov',
    'Local-gov',
    'Self-emp-inc',
    'Without-pay'],
   'count': {'State-gov': 1279,
    'Self-emp-not-inc': 2499,
    'Private': 22286,
    'Federal-gov': 943,
    'Local-gov': 2067,
    'Self-emp-inc': 1074,
    'Without-pay': 14}},
  'education': {'index': 2,
   'distinct_values': ['Bachelors',
    'HS-grad',
    '11th',
    'Masters',
    '9th',
    'Some-college',
    'Assoc-acdm',
    '7th-8th',
    'Doctorate',
    'Assoc-voc',
    'Prof-school',
    '5th-6th',
    '10th',
    'Preschool',
    '12th',
    '1st-4th'],
   'count': {'Bachelors': 5044,
    'HS-grad': 9840,
    '11th': 1048,
    'Masters': 1627,
    '9th': 455,
    'Some-college': 6678,
    'Assoc-acdm': 1008,
    '7th-8th': 557,
    'Doctorate': 375,
    'Assoc-voc': 1307,
    'Prof-school': 542,
    '5th-6th': 288,
    '10th': 820,
    'Preschool': 45,
    '12th': 377,
    '1st-4th': 151}},
  'marital-status': {'index': 3,
   'distinct_values': ['Never-married',
    'Married-civ-spouse',
    'Divorced',
    'Married-spouse-absent',
    'Separated',
    'Married-AF-spouse',
    'Widowed'],
   'count': {'Never-married': 9726,
    'Married-civ-spouse': 14065,
    'Divorced': 4214,
    'Married-spouse-absent': 370,
    'Separated': 939,
    'Married-AF-spouse': 21,
    'Widowed': 827}},
  'occupation': {'index': 4,
   'distinct_values': ['Adm-clerical',
    'Exec-managerial',
    'Handlers-cleaners',
    'Prof-specialty',
    'Other-service',
    'Sales',
    'Transport-moving',
    'Farming-fishing',
    'Machine-op-inspct',
    'Tech-support',
    'Craft-repair',
    'Protective-serv',
    'Armed-Forces',
    'Priv-house-serv'],
   'count': {'Adm-clerical': 3721,
    'Exec-managerial': 3992,
    'Handlers-cleaners': 1350,
    'Prof-specialty': 4038,
    'Other-service': 3212,
    'Sales': 3584,
    'Transport-moving': 1572,
    'Farming-fishing': 989,
    'Machine-op-inspct': 1966,
    'Tech-support': 912,
    'Craft-repair': 4030,
    'Protective-serv': 644,
    'Armed-Forces': 9,
    'Priv-house-serv': 143}},
  'relationship': {'index': 5,
   'distinct_values': ['Not-in-family',
    'Husband',
    'Wife',
    'Own-child',
    'Unmarried',
    'Other-relative'],
   'count': {'Not-in-family': 7726,
    'Husband': 12463,
    'Wife': 1406,
    'Own-child': 4466,
    'Unmarried': 3212,
    'Other-relative': 889}},
  'race': {'index': 6,
   'distinct_values': ['White',
    'Black',
    'Asian-Pac-Islander',
    'Amer-Indian-Eskimo',
    'Other'],
   'count': {'White': 25933,
    'Black': 2817,
    'Asian-Pac-Islander': 895,
    'Amer-Indian-Eskimo': 286,
    'Other': 231}},
  'sex': {'index': 7,
   'distinct_values': ['Male', 'Female'],
   'count': {'Male': 20380, 'Female': 9782}},
  'native-country': {'index': 11,
   'distinct_values': ['United-States',
    'Cuba',
    'Jamaica',
    'India',
    'Mexico',
    'Puerto-Rico',
    'Honduras',
    'England',
    'Canada',
    'Germany',
    'Iran',
    'Philippines',
    'Poland',
    'Columbia',
    'Cambodia',
    'Thailand',
    'Ecuador',
    'Laos',
    'Taiwan',
    'Haiti',
    'Portugal',
    'Dominican-Republic',
    'El-Salvador',
    'France',
    'Guatemala',
    'Italy',
    'China',
    'South',
    'Japan',
    'Yugoslavia',
    'Peru',
    'Outlying-US(Guam-USVI-etc)',
    'Scotland',
    'Trinadad&Tobago',
    'Greece',
    'Nicaragua',
    'Vietnam',
    'Hong',
    'Ireland',
    'Hungary',
    'Holand-Netherlands'],
   'count': {'United-States': 27504,
    'Cuba': 92,
    'Jamaica': 80,
    'India': 100,
    'Mexico': 610,
    'Puerto-Rico': 109,
    'Honduras': 12,
    'England': 86,
    'Canada': 107,
    'Germany': 128,
    'Iran': 42,
    'Philippines': 188,
    'Poland': 56,
    'Columbia': 56,
    'Cambodia': 18,
    'Thailand': 17,
    'Ecuador': 27,
    'Laos': 17,
    'Taiwan': 42,
    'Haiti': 42,
    'Portugal': 34,
    'Dominican-Republic': 67,
    'El-Salvador': 100,
    'France': 27,
    'Guatemala': 63,
    'Italy': 68,
    'China': 68,
    'South': 71,
    'Japan': 59,
    'Yugoslavia': 16,
    'Peru': 30,
    'Outlying-US(Guam-USVI-etc)': 14,
    'Scotland': 11,
    'Trinadad&Tobago': 18,
    'Greece': 29,
    'Nicaragua': 33,
    'Vietnam': 64,
    'Hong': 19,
    'Ireland': 24,
    'Hungary': 13,
    'Holand-Netherlands': 1}},
  'class': {'index': 12,
   'distinct_values': ['<=50K', '>50K'],
   'count': {'<=50K': 22654, '>50K': 7508}}}}

In [54]:
from lore_sa.encoder_decoder import OneHotEnc
encoder = OneHotEnc(dataset.descriptor)

x = dataset.df.iloc[0].values
encoder.encode(x), encoder.encoded_features

IndexError: index 26 is out of bounds for axis 0 with size 19

In [40]:
dataset.df

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [33]:
# random generation

x = dataset.df.iloc[0].to_dict()

from lore_sa.neighgen.random import RandomGenerator

gen = RandomGenerator()

gen.generate(x,5, features_domain = {'workclass':list(dataset.df['workclass'].unique())})

TypeError: generate() got an unexpected keyword argument 'features_domain'

In [ ]:
dataset_encoded.size

In [ ]:
dataset.df.size

In [ ]:
encoder = MyTargetEnc()

In [ ]:
#dataset encoded only for the user-specified features
dataset.class_name = "capital-gain"
df_enc = encoder.encode(dataset,['workclass','education','occupation','race','sex'], target = "capital-gain")
df_enc

In [ ]:
print (encoder)

#dataset back in his original format
encoder.decode(dataset)

In [5]:
from lore_sa.rule import Expression
import operator

exp = Expression("test", operator.gt,10)

print(exp)

test > 10

In [ ]:
import operator

operator.ge