In [1]:
%load_ext autoreload
%autoreload 2

# Tutorial: explain a tabular classifier through LORE

LORE provides interpretable explanations for the decisions made by machine learning models, particularly in situations where it might be challenging to explain the model's behavior using traditional methods. LORE is designed to offer explanations on a per-instance basis, meaning it provides insights into why a specific prediction was made for a particular data point. This is in contrast to global explanations that aim to provide an overview of a model's behavior across the entire dataset.


In this tutorial we will explain the reasoning of a random forest classifier when applied to an instance of the Adult Income dataset ( https://archive.ics.uci.edu/dataset/2/adult). This dataset contains census data from 1994 census database, the classification problem associated to such data involves the prediction of the annual income of a person, given a set of socio-economic caracteristics: 
- working class
- marital status
- occupation
- relationship
- race
- sex
- capital gain/loss
- native country

### Dataset loading 

Lore libray has a module devoted to dataset handling. Here we use TabularDataset class to load a dataset from a csv file. A TabularDataset has a column that represent the target class (`class_name`) of the classification task  object, and has two main attributes: 
- `df` : a pandas dataframe representing the tabular data
- `descriptor` : a dictionary containing internal data related to the dataset. It is build when a TabularDataset is created, but it could also be edited. It is used by the next steps of LORE methodology to distinguish among numerical, categorical, ordinal and target features of the dataset.

In [2]:
from lore_sa.dataset import TabularDataset
import pandas as pd

dataset = TabularDataset.from_csv('test/resources/adult.csv', class_name = "class")
dataset.df.dropna(inplace = True)
dataset.df

2023-10-27 17:25:23,319 numexpr.utils INFO     Note: NumExpr detected 16 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
2023-10-27 17:25:23,319 numexpr.utils INFO     NumExpr defaulting to 8 threads.
2023-10-27 17:25:23,741 root         INFO     test/resources/adult.csv file imported

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
dataset.descriptor

{'numeric': {'age': {'index': 0,
   'min': 17,
   'max': 90,
   'mean': 38.58164675532078,
   'std': 13.640432553581146,
   'median': 37.0,
   'q1': 28.0,
   'q3': 48.0},
  'fnlwgt': {'index': 2,
   'min': 12285,
   'max': 1484705,
   'mean': 189778.36651208502,
   'std': 105549.97769702233,
   'median': 178356.0,
   'q1': 117827.0,
   'q3': 237051.0},
  'education-num': {'index': 4,
   'min': 1,
   'max': 16,
   'mean': 10.0806793403151,
   'std': 2.5727203320673406,
   'median': 10.0,
   'q1': 9.0,
   'q3': 12.0},
  'capital-gain': {'index': 10,
   'min': 0,
   'max': 99999,
   'mean': 1077.6488437087312,
   'std': 7385.292084839299,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'capital-loss': {'index': 11,
   'min': 0,
   'max': 4356,
   'mean': 87.303829734959,
   'std': 402.960218649059,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'hours-per-week': {'index': 12,
   'min': 1,
   'max': 99,
   'mean': 40.437455852092995,
   'std': 12.34742868173081,
   'median': 40.0,
   'q1': 40.0,
   'q3': 45.0}},
 'catgorical': {'workclass': {'index': 1,
   'distinct_values': ['State-gov',
    'Self-emp-not-inc',
    'Private',
    'Federal-gov',
    'Local-gov',
    nan,
    'Self-emp-inc',
    'Without-pay',
    'Never-worked'],
   'count': {'State-gov': 1298,
    'Self-emp-not-inc': 2541,
    'Private': 22696,
    'Federal-gov': 960,
    'Local-gov': 2093,
    nan: 0,
    'Self-emp-inc': 1116,
    'Without-pay': 14,
    'Never-worked': 7}},
  'education': {'index': 3,
   'distinct_values': ['Bachelors',
    'HS-grad',
    '11th',
    'Masters',
    '9th',
    'Some-college',
    'Assoc-acdm',
    'Assoc-voc',
    '7th-8th',
    'Doctorate',
    'Prof-school',
    '5th-6th',
    '10th',
    '1st-4th',
    'Preschool',
    '12th'],
   'count': {'Bachelors': 5355,
    'HS-grad': 10501,
    '11th': 1175,
    'Masters': 1723,
    '9th': 514,
    'Some-college': 7291,
    'Assoc-acdm': 1067,
    'Assoc-voc': 1382,
    '7th-8th': 646,
    'Doctorate': 413,
    'Prof-school': 576,
    '5th-6th': 333,
    '10th': 933,
    '1st-4th': 168,
    'Preschool': 51,
    '12th': 433}},
  'marital-status': {'index': 5,
   'distinct_values': ['Never-married',
    'Married-civ-spouse',
    'Divorced',
    'Married-spouse-absent',
    'Separated',
    'Married-AF-spouse',
    'Widowed'],
   'count': {'Never-married': 10683,
    'Married-civ-spouse': 14976,
    'Divorced': 4443,
    'Married-spouse-absent': 418,
    'Separated': 1025,
    'Married-AF-spouse': 23,
    'Widowed': 993}},
  'occupation': {'index': 6,
   'distinct_values': ['Adm-clerical',
    'Exec-managerial',
    'Handlers-cleaners',
    'Prof-specialty',
    'Other-service',
    'Sales',
    'Craft-repair',
    'Transport-moving',
    'Farming-fishing',
    'Machine-op-inspct',
    'Tech-support',
    nan,
    'Protective-serv',
    'Armed-Forces',
    'Priv-house-serv'],
   'count': {'Adm-clerical': 3770,
    'Exec-managerial': 4066,
    'Handlers-cleaners': 1370,
    'Prof-specialty': 4140,
    'Other-service': 3295,
    'Sales': 3650,
    'Craft-repair': 4099,
    'Transport-moving': 1597,
    'Farming-fishing': 994,
    'Machine-op-inspct': 2002,
    'Tech-support': 928,
    nan: 0,
    'Protective-serv': 649,
    'Armed-Forces': 9,
    'Priv-house-serv': 149}},
  'relationship': {'index': 7,
   'distinct_values': ['Not-in-family',
    'Husband',
    'Wife',
    'Own-child',
    'Unmarried',
    'Other-relative'],
   'count': {'Not-in-family': 8305,
    'Husband': 13193,
    'Wife': 1568,
    'Own-child': 5068,
    'Unmarried': 3446,
    'Other-relative': 981}},
  'race': {'index': 8,
   'distinct_values': ['White',
    'Black',
    'Asian-Pac-Islander',
    'Amer-Indian-Eskimo',
    'Other'],
   'count': {'White': 27816,
    'Black': 3124,
    'Asian-Pac-Islander': 1039,
    'Amer-Indian-Eskimo': 311,
    'Other': 271}},
  'sex': {'index': 9,
   'distinct_values': ['Male', 'Female'],
   'count': {'Male': 21790, 'Female': 10771}},
  'native-country': {'index': 13,
   'distinct_values': ['United-States',
    'Cuba',
    'Jamaica',
    'India',
    nan,
    'Mexico',
    'South',
    'Puerto-Rico',
    'Honduras',
    'England',
    'Canada',
    'Germany',
    'Iran',
    'Philippines',
    'Italy',
    'Poland',
    'Columbia',
    'Cambodia',
    'Thailand',
    'Ecuador',
    'Laos',
    'Taiwan',
    'Haiti',
    'Portugal',
    'Dominican-Republic',
    'El-Salvador',
    'France',
    'Guatemala',
    'China',
    'Japan',
    'Yugoslavia',
    'Peru',
    'Outlying-US(Guam-USVI-etc)',
    'Scotland',
    'Trinadad&Tobago',
    'Greece',
    'Nicaragua',
    'Vietnam',
    'Hong',
    'Ireland',
    'Hungary',
    'Holand-Netherlands'],
   'count': {'United-States': 29170,
    'Cuba': 95,
    'Jamaica': 81,
    'India': 100,
    nan: 0,
    'Mexico': 643,
    'South': 80,
    'Puerto-Rico': 114,
    'Honduras': 13,
    'England': 90,
    'Canada': 121,
    'Germany': 137,
    'Iran': 43,
    'Philippines': 198,
    'Italy': 73,
    'Poland': 60,
    'Columbia': 59,
    'Cambodia': 19,
    'Thailand': 18,
    'Ecuador': 28,
    'Laos': 18,
    'Taiwan': 51,
    'Haiti': 44,
    'Portugal': 37,
    'Dominican-Republic': 70,
    'El-Salvador': 106,
    'France': 29,
    'Guatemala': 64,
    'China': 75,
    'Japan': 62,
    'Yugoslavia': 16,
    'Peru': 31,
    'Outlying-US(Guam-USVI-etc)': 14,
    'Scotland': 12,
    'Trinadad&Tobago': 19,
    'Greece': 29,
    'Nicaragua': 34,
    'Vietnam': 67,
    'Hong': 20,
    'Ireland': 24,
    'Hungary': 13,
    'Holand-Netherlands': 1}}},
 'target': {'class': {'index': 14,
   'distinct_values': ['<=50K', '>50K'],
   'count': {'<=50K': 24720, '>50K': 7841}}}}

We drop some columns as part of a data preprocessing task. In this case, the descriptor of the dataset must be updated through the dedicated method

In [4]:
dataset.df.drop(['fnlwgt', 'education-num'], inplace=True, axis=1)
dataset.update_descriptor()

### One-hot encoding 

We apply one hot encoding to the dataset, in order to show how LORE handles encoding. The `encoder_decode` provides `TabularEnc` class to encode and decode a tabular dataset applying one hot encoding to the categorical features and label encoding to the target feature.

Tabular encoder has also a descriptor, that is derived from the originale Dataset descriptor and updated with the stats related to the encoded features.

In [5]:
#categorical features of our dataset
dataset.descriptor['categoric'].keys()

dict_keys(['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country'])

In [6]:
from lore_sa.encoder_decoder import TabularEnc
encoder = TabularEnc(dataset.descriptor)

encoded = []
for x in dataset.df.iloc:
    
    
    encoded.append(encoder.encode(x.values))

In [9]:
encoder.dataset_descriptor

{'numeric': {'age': {'index': 0,
   'min': 17,
   'max': 90,
   'mean': 38.437901995888865,
   'std': 13.134664776856338,
   'median': 37.0,
   'q1': 28.0,
   'q3': 47.0},
  'capital-gain': {'index': 8,
   'min': 0,
   'max': 99999,
   'mean': 1092.0078575691268,
   'std': 7406.346496681988,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'capital-loss': {'index': 9,
   'min': 0,
   'max': 4356,
   'mean': 88.37248856176646,
   'std': 404.2983704862744,
   'median': 0.0,
   'q1': 0.0,
   'q3': 0.0},
  'hours-per-week': {'index': 10,
   'min': 1,
   'max': 99,
   'mean': 40.93123798156621,
   'std': 11.979984229273281,
   'median': 40.0,
   'q1': 40.0,
   'q3': 45.0}},
 'catgorical': {'workclass': {'index': 1,
   'distinct_values': ['State-gov',
    'Self-emp-not-inc',
    'Private',
    'Federal-gov',
    'Local-gov',
    'Self-emp-inc',
    'Without-pay'],
   'count': {'State-gov': 1279,
    'Self-emp-not-inc': 2499,
    'Private': 22286,
    'Federal-gov': 943,
    'Local-gov': 2067,
    'Self-emp-inc': 1074,
    'Without-pay': 14}},
  'education': {'index': 2,
   'distinct_values': ['Bachelors',
    'HS-grad',
    '11th',
    'Masters',
    '9th',
    'Some-college',
    'Assoc-acdm',
    '7th-8th',
    'Doctorate',
    'Assoc-voc',
    'Prof-school',
    '5th-6th',
    '10th',
    'Preschool',
    '12th',
    '1st-4th'],
   'count': {'Bachelors': 5044,
    'HS-grad': 9840,
    '11th': 1048,
    'Masters': 1627,
    '9th': 455,
    'Some-college': 6678,
    'Assoc-acdm': 1008,
    '7th-8th': 557,
    'Doctorate': 375,
    'Assoc-voc': 1307,
    'Prof-school': 542,
    '5th-6th': 288,
    '10th': 820,
    'Preschool': 45,
    '12th': 377,
    '1st-4th': 151}},
  'marital-status': {'index': 3,
   'distinct_values': ['Never-married',
    'Married-civ-spouse',
    'Divorced',
    'Married-spouse-absent',
    'Separated',
    'Married-AF-spouse',
    'Widowed'],
   'count': {'Never-married': 9726,
    'Married-civ-spouse': 14065,
    'Divorced': 4214,
    'Married-spouse-absent': 370,
    'Separated': 939,
    'Married-AF-spouse': 21,
    'Widowed': 827}},
  'occupation': {'index': 4,
   'distinct_values': ['Adm-clerical',
    'Exec-managerial',
    'Handlers-cleaners',
    'Prof-specialty',
    'Other-service',
    'Sales',
    'Transport-moving',
    'Farming-fishing',
    'Machine-op-inspct',
    'Tech-support',
    'Craft-repair',
    'Protective-serv',
    'Armed-Forces',
    'Priv-house-serv'],
   'count': {'Adm-clerical': 3721,
    'Exec-managerial': 3992,
    'Handlers-cleaners': 1350,
    'Prof-specialty': 4038,
    'Other-service': 3212,
    'Sales': 3584,
    'Transport-moving': 1572,
    'Farming-fishing': 989,
    'Machine-op-inspct': 1966,
    'Tech-support': 912,
    'Craft-repair': 4030,
    'Protective-serv': 644,
    'Armed-Forces': 9,
    'Priv-house-serv': 143}},
  'relationship': {'index': 5,
   'distinct_values': ['Not-in-family',
    'Husband',
    'Wife',
    'Own-child',
    'Unmarried',
    'Other-relative'],
   'count': {'Not-in-family': 7726,
    'Husband': 12463,
    'Wife': 1406,
    'Own-child': 4466,
    'Unmarried': 3212,
    'Other-relative': 889}},
  'race': {'index': 6,
   'distinct_values': ['White',
    'Black',
    'Asian-Pac-Islander',
    'Amer-Indian-Eskimo',
    'Other'],
   'count': {'White': 25933,
    'Black': 2817,
    'Asian-Pac-Islander': 895,
    'Amer-Indian-Eskimo': 286,
    'Other': 231}},
  'sex': {'index': 7,
   'distinct_values': ['Male', 'Female'],
   'count': {'Male': 20380, 'Female': 9782}},
  'native-country': {'index': 11,
   'distinct_values': ['United-States',
    'Cuba',
    'Jamaica',
    'India',
    'Mexico',
    'Puerto-Rico',
    'Honduras',
    'England',
    'Canada',
    'Germany',
    'Iran',
    'Philippines',
    'Poland',
    'Columbia',
    'Cambodia',
    'Thailand',
    'Ecuador',
    'Laos',
    'Taiwan',
    'Haiti',
    'Portugal',
    'Dominican-Republic',
    'El-Salvador',
    'France',
    'Guatemala',
    'Italy',
    'China',
    'South',
    'Japan',
    'Yugoslavia',
    'Peru',
    'Outlying-US(Guam-USVI-etc)',
    'Scotland',
    'Trinadad&Tobago',
    'Greece',
    'Nicaragua',
    'Vietnam',
    'Hong',
    'Ireland',
    'Hungary',
    'Holand-Netherlands'],
   'count': {'United-States': 27504,
    'Cuba': 92,
    'Jamaica': 80,
    'India': 100,
    'Mexico': 610,
    'Puerto-Rico': 109,
    'Honduras': 12,
    'England': 86,
    'Canada': 107,
    'Germany': 128,
    'Iran': 42,
    'Philippines': 188,
    'Poland': 56,
    'Columbia': 56,
    'Cambodia': 18,
    'Thailand': 17,
    'Ecuador': 27,
    'Laos': 17,
    'Taiwan': 42,
    'Haiti': 42,
    'Portugal': 34,
    'Dominican-Republic': 67,
    'El-Salvador': 100,
    'France': 27,
    'Guatemala': 63,
    'Italy': 68,
    'China': 68,
    'South': 71,
    'Japan': 59,
    'Yugoslavia': 16,
    'Peru': 30,
    'Outlying-US(Guam-USVI-etc)': 14,
    'Scotland': 11,
    'Trinadad&Tobago': 18,
    'Greece': 29,
    'Nicaragua': 33,
    'Vietnam': 64,
    'Hong': 19,
    'Ireland': 24,
    'Hungary': 13,
    'Holand-Netherlands': 1}}},
 'target': {'class': {'index': 12,
   'distinct_values': ['<=50K', '>50K'],
   'count': {'<=50K': 22654, '>50K': 7508}}}}

Once we have an `TabularEnc` object, we can apply the `decode()` method to an encoded instance, in order to get the decoded instance.

In [7]:
encoder.decode(encoded[0])

array(['39', 'State-gov', 'Bachelors', 'Never-married', 'Adm-clerical',
       'Not-in-family', 'White', 'Male', '2174', '0', '40',
       'United-States', '<=50K'], dtype='<U13')

## The blackbox

LORE explains the reasoning of an input machine learning model (blackbox) that classifies an input instance of the dataset. Since this is a tutorial, we will create a blackbox from scratch, in order to explain it through LORE.

We will explain a blackbox that is taking one-hot-encoded instances as input. Hence, we create an encoded version of the original dataframe:

In [11]:
encoded_df = pd.DataFrame(encoded, columns = [encoder.encoded_features[i] for i in range(len(encoded[0]))])
encoded_df

,age,workclass=State-gov,workclass=Self-emp-not-inc,workclass=Private,workclass=Federal-gov,workclass=Local-gov,workclass=Self-emp-inc,workclass=Without-pay,education=Bachelors,education=HS-grad,...,native-country=Scotland,native-country=Trinadad&Tobago,native-country=Greece,native-country=Nicaragua,native-country=Vietnam,native-country=Hong,native-country=Ireland,native-country=Hungary,native-country=Holand-Netherlands,class
0,39,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,50,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,38,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,53,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,28,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,27,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30158,40,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
30159,58,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
30160,22,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
30161,52,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1

Here

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, accuracy_score

feature_names = [c for c in encoded_df.columns if c != 'class']
class_name = dataset.class_name
test_size= 0.3
random_state= 42

X_train, X_test, Y_train, Y_test = train_test_split(encoded_df[feature_names].values, encoded_df[class_name].values,
                                                    test_size=test_size,
                                                    random_state=random_state,
                                                    stratify=encoded_df[class_name].values)




# Train a random forest model

bb = RandomForestClassifier(n_estimators=20, random_state=random_state)
# bb = MLPClassifier(random_state=random_state)
bb.fit(X_train, Y_train)



# example of predictions
Y_pred = bb.predict(X_test)

print('Accuracy %.3f' % accuracy_score(Y_test, Y_pred))
print('F1-measure %.3f' % f1_score(Y_test, Y_pred))

Accuracy 0.840
F1-measure 0.660

In [14]:
from lore_sa.bbox import sklearn_classifier_bbox

bbox = sklearn_classifier_bbox.sklearnBBox(bb)

neighbour.df['class'] = bbox.predict(neighbour.df[features])
neighbour.set_class_name('class')

## Neighborhood generation

Given an instance of the dataset classified by a black box

In [12]:
# random generation

features = [c for c in encoded_df.columns if c != dataset.class_name]

x = encoded_df[features].iloc[10].values

from lore_sa.neighgen.random import RandomGenerator

gen = RandomGenerator()

neighbour = gen.generate(x,10000, dataset.descriptor, onehotencoder = encoder)

neighbour.df

2023-10-26 15:41:17,891 root         WARNING  No target class is defined

,age,workclass=State-gov,workclass=Self-emp-not-inc,workclass=Private,workclass=Federal-gov,workclass=Local-gov,workclass=Self-emp-inc,workclass=Without-pay,education=Bachelors,education=HS-grad,...,native-country=Outlying-US(Guam-USVI-etc),native-country=Scotland,native-country=Trinadad&Tobago,native-country=Greece,native-country=Nicaragua,native-country=Vietnam,native-country=Hong,native-country=Ireland,native-country=Hungary,native-country=Holand-Netherlands
0,67.637957,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,42.634753,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,58.211544,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,67.670684,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,73.559872,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,65.329231,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,58.930749,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,28.890262,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,53.852138,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,20.710649,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### neighbour classification

## surrogate

In [15]:
from lore_sa.surrogate import DecisionTreeSurrogate

surrogate = DecisionTreeSurrogate()


surrogate.train(neighbour.df[features].values , neighbour.df['class'] )

DecisionTreeClassifier()

In [16]:
x = encoded_df[features].iloc[10].values


rule = surrogate.get_rule(x, neighbour, encoder)

print (rule)

premises:
capital-gain <= 4619.87451171875
capital-loss <= 1817.4296875
marital-status = Married-civ-spouse
native-country != Vietnam
consequence: class = <=50K

In [ ]:
encoder

In [ ]:
crules, deltas = surrogate.get_counterfactual_rules(x=x, class_name = 'class', feature_names=features, neighborhood_dataset = neighbour, encoder = encoder)

In [ ]:
for r in crules:
    print(r)

In [ ]:
crules